<TMPL_INCLUDE NAME="header.tmpl">

<h1>Common ways to die!</h1>

<div class="common">
<p>People were <a href="<TMPL_VAR NAME=hostname>?desc=helpless">helpless</a> <TMPL_VAR NAME="helpless"> times</p>

    <ol>
    <TMPL_LOOP NAME=SCORES>
     <li><strong><TMPL_VAR NAME="num"></strong> <a href="<TMPL_VAR NAME=hostname>?desc=<TMPL_VAR NAME="desc">"><TMPL_VAR NAME="desc"></a></li>
    </TMPL_LOOP>
    </ol>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
