</div>
<div>
<p>Nethack-Records version <TMPL_VAR NAME="version"></p>
<p>Visit <a href="http://nethack.uib.no/nethack-records">
http://nethack.uib.no/nethack-records</a> for updates and news</p>
</body>
</html>
