</div>
<div style="margin-left:1em; text-align:center;">
	<p>This server is operated by <TMPL_VAR NAME="contact_name">, and is running Nethack-Records version <TMPL_VAR NAME="version"></p>
	<p>Visit <a href="http://nethack.uib.no/nethack-records">
	http://nethack.uib.no/nethack-records</a> for updates and news</p>
</div>
</body>
</html>
