body {
    background:#9D8D7D;
    color:#000000;
	margin:0;
	padding:0;
}

a {
    background:transparent;
    color:#000000;
}

#header {
	background:#655545;
	color:#d9c9b9;
	border-bottom:1px solid #666666;
	margin:0;
	padding:0;
}

#header img {
    float:right;
    border:none;
}

#header h1 {
	margin:0 0 1.5em;	
	padding-top:1em;
	padding-left:1em;
	font-size:1em;
	font-family:courier, monospace;
}

#header h1 span {
	font-size:4em;
	font-style:italic;
	font-weight:500;
	margin-right:20px;
	
}
#header .version {
	float:right;
}

#header p {
	padding-bottom:0;
	margin:0em 1em 0.5em;


}

#navigation {
	background:#eee;
	color:#454545;
	margin:0 0 1em;
	border-bottom:1px solid #222;
}

#navigation ul {
	text-align:left;
	margin:0;
	padding:0 0.5em 0;
	list-style:none;
}

#navigation ul li{
	float:left;
	background:#eee;
	padding:0;
	margin:0;
}

#navigation a {
	text-decoration:none;
	display:block;
	padding:0 0.5em;
	border-left:1px solid #999;
	border-right:1px solid #999;
	
}

#navigation a:hover {
	background:#222;
	color:#eee;
}

#navigation a:active {
	background:#333;
	color:#eee;
}

#main {
	background:#d9d9c9;
	border:1px solid #222;	
	margin:2em;
	width:80%;
}

#main h2 {
	margin-left:10px;
}

#main table {
    border:1px solid #454545;
	border-spacing:0px;
    border-collapse:collapse;
    width:100%;
}

#main tr {
	background:#fff;
	color:#000000;
}

#main th {
	border-bottom:1px solid #000;
	font-weight:500;
	text-align:left;
}

#main th, #main td {
	padding-left:5px;
}

#main td {
	background:#eeeede;
	color:#000;
}

#main a {
    background:transparent;
    color:#000000;
}

#main a:visited {
    background:transparent;
    color:#710012;
}

#main .dag {
	background:#fdf44f;
	color:#000000;
}

#main .uke{
	background:#bbaa22;
	color:#000000;
}


#main .common {
    background:#eeeeee;
    color:#000000;
    border:1px solid #454545;
    padding:0em;
    width:80%;
	margin-top:1em;
}

#main .common strong {
    padding-left:0.5em;
}

#main h3 {
	margin-bottom:0;
	padding-bottom:0;
	font-weight:500;
	font-size:1em;
}

#main .score {
	text-align:right;

}

