<TMPL_INCLUDE NAME="header.tmpl">

<h2>Common ways to die!</h2>

<div class="common">
<h3>People were <a href="<TMPL_VAR NAME=hostname>?death=helpless">helpless</a> <TMPL_VAR NAME="helpless"> times</h3>

    <ol>
    <TMPL_LOOP NAME=SCORES>
     <li><strong><TMPL_VAR NAME="num"></strong> <a href="<TMPL_VAR NAME=hostname>?desc=<TMPL_VAR NAME="desc">"><TMPL_VAR NAME="desc"></a></li>
    </TMPL_LOOP>
    </ol>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
