<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_LOOP NAME=ENTRY>

<h2><TMPL_VAR NAME=NAME>'s game</h2>
<div class="common">
<ul>

	<li>Character name: <TMPL_VAR NAME=NAME></li>
	<li>Points: <TMPL_VAR NAME=EXP></li>
	<li>Game rank: <TMPL_VAR NAME=PLACE></li>
	<li>Max hp: <TMPL_VAR NAME=MAXHP>, when dead: <TMPL_VAR NAME=HP></li>
	<li>Died in <TMPL_VAR NAME=DEATHWHERE>, by cause "<TMPL_VAR NAME=DEATH>"</li>
	<li>Dead at level: <TMPL_VAR NAME=DEATHLVL>, maximum level: <TMPL_VAR NAME=MAXLVL></li>
	<li>Game started: <TMPL_VAR NAME=DATE>, ended: <TMPL_VAR NAME=END_DATE></li>
</ul>
</div>
</TMPL_LOOP>


<TMPL_INCLUDE NAME="footer.tmpl">
