<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>NetHack - A dynamic survey</title>
    <TMPL_IF NAME="create_rdf">
    	  <link rel="alternate" type="application/rss+xml" title="Nethack-records - The last ten games" href="<TMPL_VAR NAME="rss">"/>
    </TMPL_IF>
    <link href="<TMPL_VAR NAME=css_path>nethack-modern.css" rel="stylesheet" type="text/css" media="screen" title="Modern" />
    <link href="<TMPL_VAR NAME=css_path>nethack.css" rel="alternate stylesheet" type="text/css" media="screen" title="Alternative Old style" />
    <link href="<TMPL_VAR NAME=css_path>nethack-alt.css" rel="alternate stylesheet" type="text/css" media="screen" title="Alternative" />
    <link href="<TMPL_VAR NAME=css_path>nethackVer4.css" rel="alternate stylesheet" type="text/css" media="screen" title="Nethack ver 0.4" />
    <link href="<TMPL_VAR NAME=css_path>nethackBW.css" rel="alternate stylesheet" type="text/css" media="screen" title="Nethack Black and White" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
</head>
<body>
<div id="header">
      <TMPL_IF NAME="create_rdf">

  	<a href="http://feedvalidator.org/check.cgi?url=<TMPL_VAR NAME="rss">"><img src="<TMPL_VAR NAME=img_path>valid-rss.png" alt="[Valid RSS]" title="Validate my RSS feed" /></a>
      </TMPL_IF>

	<a href="http://validator.w3.org/check?uri=<TMPL_VAR NAME="hostname"><TMPL_VAR NAME="uri">"><img src="<TMPL_VAR NAME=img_path>valid-xhtml10.png" alt="Valid xhtml" title="Hah, this site is valid xhtml strict 1.0" /></a>	

    <h1><span>Nethack</span>- A dynamic survey</h1>

    <p class="version">Version <TMPL_VAR NAME="version"></p>
    <p>Quick-stat: <TMPL_VAR NAME="quickstat"></p>

</div>

<div id="navigation">
    <ul>
        <li>Sort by -&nbsp;</li>
        <li><a href="<TMPL_VAR NAME=hostname>?sortType=today">Todays list</a></li>
        <li><a href="<TMPL_VAR NAME=hostname>?sortType=topten">Top 10</a></li>
        <li><a href="<TMPL_VAR NAME=hostname>?sortType=all">Full list</a></li>
        <li><a href="<TMPL_VAR NAME=hostname>?sortType=lastten">Last ten</a></li>
        <li><a href="<TMPL_VAR NAME=hostname>?sortType=commondeath">Causes</a></li>
        <li><a href="<TMPL_VAR NAME=hostname>?sortType=ranking">Ranking</a></li>
        <li><a href="<TMPL_VAR NAME=hostname>?sortType=char">Characters</a></li>
        <li><a href="<TMPL_VAR NAME=hostname>?sortType=links">Links</a></li>
    </ul>
	<br style="clear:both;" />
</div>

<div id="main">
