<TMPL_INCLUDE NAME="header.tmpl">
<h2>Some useful links</h2>
<ul>
    <li><a href="http://www.nethack.org/">NetHack homepage</a></li>
    <li><a href="http://nethack.uib.no/nethack-records">Nethack-Records , this script..</a></li>
    <li><a href="CHANGELOG">Changelog</a></li>
    <li><a href="docs/Development-Plan.txt">Development Plan</a></li>
    <li><a href="http://falconseye.sourceforge.net/">Falcon's Eye GUI for NetHack</a></li>
</ul>
<TMPL_INCLUDE NAME="footer.tmpl">
