<TMPL_INCLUDE NAME="header.tmpl">
<h2>Nethack Ranklist</h2>

<ul>
	<li>Rank by:</li>
	<li><a href="<TMPL_VAR NAME=hostname>?sortType=ranking&rank=exp">Score</a></li>
	<li><a href="<TMPL_VAR NAME=hostname>?sortType=ranking&rank=median">Median</a></li>
	<li><a href="<TMPL_VAR NAME=hostname>?sortType=ranking&rank=average">Average</a></li>
</ul>

<h3>Ranking by median</h3>
<table>
<tr>
    <th>Rank:</th>
    <th>Median:</th>
    <th>Name:</th>
</tr>


<TMPL_LOOP NAME=STAT>
<tr>
    <td><TMPL_VAR NAME=PLACE></td>
    <td><TMPL_VAR NAME=SCORE></td>
    <td><a href="<TMPL_VAR NAME=hostname>?name=<TMPL_VAR NAME=NAME>"><TMPL_VAR NAME=NAME></a></td>
</tr>
</TMPL_LOOP>

</table>

<TMPL_INCLUDE NAME="footer.tmpl">
