<TMPL_INCLUDE NAME="header.tmpl">
<h1>Player statistics for <TMPL_VAR NAME="type_name">:<TMPL_VAR NAME="type"></h1>

<table>
<tr>
    <th>Rank:</th>
    <th>Score:</th>
    <th>Name:</th>
    <th>Class:</th>
    <th>Race:</th>
    <th>Alignment:</th>
    <th>Gender:</th>
    <th>Death:</th>
    <th>Date:</th>
</tr>


<TMPL_LOOP NAME=STAT>
<tr <TMPL_VAR NAME=COLOR>>
    <td><a href="<TMPL_VAR NAME=hostname>?game=<TMPL_VAR NAME=PLACE>"><TMPL_VAR NAME=PLACE></a></td>
    <td class="score"><TMPL_VAR NAME=EXP></td>
    <td><a href="<TMPL_VAR NAME=hostname>?name=<TMPL_VAR NAME=NAME>"><TMPL_VAR NAME=NAME></a></td>
    <td><a href="<TMPL_VAR NAME=hostname>?class=<TMPL_VAR NAME=CLASS>"><TMPL_VAR NAME=CLASS></a></td>
    <td><a href="<TMPL_VAR NAME=hostname>?race=<TMPL_VAR NAME=RACE>"><TMPL_VAR NAME=RACE></a></td>
    <td><a href="<TMPL_VAR NAME=hostname>?alignment=<TMPL_VAR NAME=ALIGNMENT>"><TMPL_VAR NAME=ALIGNMENT></a></td>
    <td><a href="<TMPL_VAR NAME=hostname>?sex=<TMPL_VAR NAME=SEX>"><TMPL_VAR NAME=SEX></a></td>
    <td><a href="<TMPL_VAR NAME=hostname>?desc=<TMPL_VAR NAME=DESC>"><TMPL_VAR NAME=DESC></a></td>
    <td><TMPL_VAR NAME=DATE></td>
</tr>
</TMPL_LOOP>

</table>

<TMPL_INCLUDE NAME="footer.tmpl">
